%nav.primary-navigation{role: "navigation", :"aria-label" => " Navigation List"}
  %ul.navigation-item-group
    %li.nav-item= link_to 'About', '/#about'
    %li.nav-item= link_to 'Portfolio', '/#work'
    %li.nav-item= link_to 'Skills', '/#skills'
    %li.nav-item= link_to 'Contact', '/#contact'
