%header.site-header
  .container
    %a{:href => "#content", :id => "skip-nav", :class => "screenreader-text"} Skip to Content

    %h1.site-name
      %a{:href => "/"}
        <i class="fa fa-home" aria-hidden="true"></i>
        %span.screenreader-text Lindsay Silver

    %section.mobile-navigation
      %button.menu-trigger{ :"aria-expanded" => "false"}
        %span
          <i class="fa fa-bars" aria-hidden="true"></i>
          
        %span.trigger-status.screenreader-text.closed Open
        Menu

    = partial 'partials/primary-navigation'


