%footer.site-footer{:id => 'contact'}
  .container
    .social
      %a{:href => "https://www.linkedin.com/in/lindsay-silver-1882b0b3?trk=hp-identity-name"}
        <i class="fa fa-linkedin" aria-hidden="true"></i>
        %span.screenreader-text Visit my linked in page
      %a{:href => "https://github.com/silverli"}
        <i class="fa fa-github" aria-hidden="true"></i>
        %span.screenreader-text See my Github
      %a{:href => "https://twitter.com/silverlindsay1"}
        <i class="fa fa-twitter" aria-hidden="true"></i>
        %span.screenreader-text Visit my Twitter feed
    %a{:href => "mailto:lindsaysilver1@gmail.com"}
      <i class="fa fa-envelope" aria-hidden="true"></i>
      %span.email lindsaysilver1@gmail.com


    %p.copyright
      Copyright Lindsay Silver #{Date.today.year.to_s}. All rights reserved.
