---
title: Accessibility Project | Lindsay Silver
---
.work
  %h2 Accessibility Guidelines Project
  .image-container
    %img{:src => "/assets/images/a11y-mobile.png", :alt => "Accessibility Guidelines mobile phone", :class=>'phone'}/
    %img{:src => "/assets/images/a11y-browser.png", :alt => "Accessibility Guidelines browser window", :class=>'browser'}/
    %img{:src => "/assets/images/a11y-tablet.png", :alt => "Accessibility Guidelines tablet", :class=>'tablet'}/
  .project-header
    %h3 About the  Project
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero cumque, facilis praesentium tenetur dolores assumenda labore amet quaerat asperiores, esse quis porro officia. Ratione tenetur veniam neque voluptatem maxime a11y
  .other-details
    %h4 Technologies Used
    %p JavaScript / jQuery, Middleman, HTML5, SASS, CSS3, CSS Animations, Responsive Design, Grunt / Gulp, Bower / NPM, Heroku.
    %h4 Skills Used
    %p Primarily: Project Leader, Research, Content Creation, Front-end Development, Accessibility Testing.
    %p Browser Testing, Stakeholder Interviews, Browser Testing.