---
title: Accessibility Project | Lindsay Silver
---
.work
  %h2 Accessibility Guidelines Project
  .image-container
    %img{:src => "/assets/images/a11y-mobile.png", :alt => "Accessibility Guidelines mobile phone", :class=>'phone'}/
    %img{:src => "/assets/images/a11y-browser.png", :alt => "Accessibility Guidelines browser window", :class=>'browser'}/
    %img{:src => "/assets/images/a11y-tablet.png", :alt => "Accessibility Guidelines tablet", :class=>'tablet'}/
  .project-header 
    %h3 About the  Project
    %p For this project, I helped lead, research, write, and implement the creation of WCAG AA based accessibility guidelines. The goal of this project was to make a set of guidelines which was easy to read and understand for both content editors of websites, and developers.
    %p A few of the topics focused on in the accessibility guide are: the importance of semantic HTML, what ARIA is, live, accessible code examples for modals and tabs, and how to make accessible forms.
  .other-details
    %h4 Technologies Used
    %p JavaScript / jQuery, Middleman, HTML5, SASS, CSS3, CSS Animations, Responsive Design, Grunt / Gulp, Bower / NPM, Heroku.
    %h4 Skills Used
    %p Primarily: Project Leader, Research, Content Creation, Front-end Development, Accessibility Testing.
    %p Browser Testing, Stakeholder Interviews, Browser Testing.