---
title: Carnegie Libraries | Lindsay Silver
---
.work
  %h2 Carnegie Libraries of Pittsburgh Re-Design
  .image-container
    %img{:src => "/assets/images/clp-browser.png", :alt => "Carnegie Library website browser window", :class=>'browser'}/
    %img{:src => "/assets/images/clp-tablet.png", :alt => "Carnegie Library website on a tablet", :class=>'tablet'}/
  .project-header
    %h3 About the  Project
    %p I came in towards the end of the Carnegie Libraries of Pittsburgh website project, but was able to do significant amounts of work on the styling of the site, and also browser testing of the site. The Carnegie Libraries wanted a simple, clean design that was still interesting to look at, and full browser compatibility for their huge array of users.
    %a{:href => "http://www.carnegielibrary.org/"}See the live site here.
  .other-details
    %h4 Technologies Used
    %p HTML5, SASS, CSS3, CSS Animations, Responsive Design, BrowserStack, Grunt / Gulp, Bower, PHP, Vagrant / Virtual Box.
    %h4 Skills Used
    %p Primarily: Pattern Library Creation, Site Styling, Browser Testing, Accessibility Testing.
    %p User Testing / Interviews, UX design, Quality Assurance.