---
title: Carnegie Libraries | Lindsay Silver
---
.work
  %h2 Carnegie Libraries of Pittsburgh
  .image-container
    %img{:src => "/assets/images/clp-browser.png", :alt => "Accessibility Guidelines browser window", :class=>'browser'}/
    %img{:src => "/assets/images/clp-tablet.png", :alt => "Accessibility Guidelines tablet", :class=>'tablet'}/
  .project-header
    %h3 About the  Project
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero cumque, facilis praesentium tenetur dolores assumenda labore amet quaerat asperiores, esse quis porro officia. Ratione tenetur veniam neque voluptatem maxime a11y.
    %a{:href => "http://www.carnegielibrary.org/"}See the live site here.
  .other-details
    %h4 Technologies Used
    %p HTML5, SASS, CSS3, CSS Animations, Responsive Design, Grunt / Gulp, Bower, PHP, Vagrant / Virtual Box.
    %h4 Skills Used
    %p Primarily: Pattern Library Creation, Site Styling, Browser Testing, Accessibility Testing.
    %p User Testing / Interviews, UX design, Quality Assurance.