---
title: GDI Intermediate HTML &amp; CSS | Lindsay Silver
---
.work
  %h2 GDI Intermediate HTML &amp; CSS Class
  .image-container
    %img{:src => "/assets/images/gdi-browser.png", :alt => "Girl Develop it class website browser window", :class=>'browser'}/
    %img{:src => "/assets/images/gdi-tablet.png", :alt => "Girl Develop it class website on a tablet", :class=>'tablet'}/
  .project-header
    %h3 About the  Project
    %p I created a website for the Intermediate HTML &amp; CSS class I taught for Girl Develop It Pittsburgh. The website not only has the slides for the class available on it, but students can also download the workshop files for the class, and view additional resources to keep learning HTML and CSS at a higher level.
    %a{:href => "http://silverli.github.io/intermediate-html-css/"}See the live site here.
  .other-details
    %h4 Technologies Used
    %p Basic HTML5 / CSS, GitHub Pages.
    %h4 Skills Used
    %p Front-end Development, Teaching.