---
title: Lindsay Silver | Web Developer 
name_banner: true
---
.about
  %img{:src => "/assets/images/lindsay.png", :alt => "Lindsay Silver"}/
  .information{:id => 'about'}
    %p After graduating from Haverford College in May 2015, I've immersed myself in all aspects of web development and design. Starting out with a background in English, I began my adventures into the great world wide web through the field of digital scholarship — creating websites which analyzed data drawn from rare, Quaker manuscripts.  
    %p It was during this internship in digital scholarship and through the process of creating my <a class='regular' href='http://qmh.haverford.edu/'>first website</a>, that I realized I had a genuine passion for web development like nothing else I'd ever done, or ever studied. As a web developer now, I pride myself on making responsive, accessible, and beautiful websites which provide a useful and thought-provoking experience for users.
    %p In my free time, I enjoy walking around Pittsburgh when it’s sunny, eating chocolate chip cookies, playing a bit of frisbee, and watching the Great British Bake Off. 


%h2.page-title{:id => 'work'}
  Portfolio

.image-grid
  .image-item 
    %a{:href => "/a11y"}
      %img{:alt => "Accessibility Project", :src => "/assets/images/accessibility.jpg"}/
      .caption Accessibility Guidelines
  .image-item 
    %a{:href => "/gdi"}
      %img{:alt => "Girl Develop It HTML/CSS Class", :src => "/assets/images/gdipgh-logo.png"}/
      .caption Girl Develop It HTML/CSS Class
  .image-item 
    %a{:href => "/kandoolu"}
      %img{:alt => "Kandoolu Quiz App", :src => "/assets/images/kandoolu.jpg"}/
      .caption Kandoolu Quiz App
  .image-item 
    %a{:href => "/clp"}
      %img{:alt => "Carnegie Libraries of Pittsburgh", :src => "/assets/images/carnegie.jpg"}/
      .caption Carnegie Libraries of Pittsburgh
  .image-item 
    %a{:href => "/smartdental"}
      %img{:alt => "Smart Dental Massachusetts", :src => "/assets/images/smartdental.jpg"}/
      .caption Smart Dental MA
  .image-item 
    %a{:href => "/qmh"}
      %img{:alt => "Quakers and Mental Health", :src => "/assets/images/quaker.png"}/
      .caption Quakers &amp; Mental Health
  .image-item 
    %a{:href => "/ticha"}
      %img{:alt => "Ticha Digital Text Explorer", :src => "/assets/images/ticha.png"}/
      .caption Ticha Text Explorer

%h2.page-title{:id => 'skills'}
  Skills

%p.resume-link <a class='regular' href='/resume'>See my full resume here</a>.

.skills-grid
  .skill-item
    %h3 Languages
    %ul
      %li Python
      %li Java
      %li Ruby
      %li JavaScript / jQuery
  .skill-item
    %h3 Front-end
    %ul
      %li HTML5 / CSS3
      %li SASS
      %li CSS Animations
      %li Greensock (GSAP) JS
      %li Accessibility WCAG AA Standards
      %li Responsive Design
      %li Browser Testing
  .skill-item
    %h3 Dev Tools
    %ul
      %li Git
      %li Bower / NPM
      %li Grunt / Gulp
      %li Foundation / Bootstrap
      %li SQLite
      %li PostegreSQL
  .skill-item 
    %h3 Frameworks
    %ul
      %li Ember JS
      %li Django
      %li Angular Js
      %li Middleman / Jekyll
      %li WordPress
  .skill-item 
    %h3 Non-technical
    %ul
      %li Sketch
      %li Photoshop
      %li Writing
      %li Copy Editing
      %li Profient in Spanish