---
title: Kandoolu Quiz App | Lindsay Silver
---
.work
  %h2 Kandoolu PA State Standards Quiz App
  .image-container
    %img{:src => "/assets/images/ohs-mobile.png", :alt => "Kandoolu website on a mobile phone", :class=>'phone'}/
    %img{:src => "/assets/images/ohs-browser.png", :alt => "Kandoolu website browser window", :class=>'browser'}/
    %img{:src => "/assets/images/ohs-tablet.png", :alt => "Kandoolu website on a tablet", :class=>'tablet'}/
  .project-header
    %h3 About the  Project
    %p I was able to participate in the full life-cycle of the Kandoolu project -- helping with user interviews and testing, user experience design, and the development of the prototype with the Ember JS framework. This was a project full of complicated user experience problems which I was able to not only help solve in UX sessions, but also implement in Ember. Lastly, I was called upon to supply some fun and interest for students using this app by integrating CSS animations across the site.
    %p Some interesting pages to see which I either built entirely, or worked on, are the <a href='http://ohs-views.herokuapp.com/student-trophies'>Trophy Modals Page (Click on the trophies!)</a>, <a href='http://ohs-views.herokuapp.com/create-quiz-1'>Quiz Creation Start Page</a>, <a href='http://ohs-views.herokuapp.com/loading'>the Loading Page</a>, and <a href='http://ohs-views.herokuapp.com/student-dashboard'>one of the Dashboard Views</a>.
    %a{:href => "http://ohs-views.herokuapp.com/"}See the protype here.
  .other-details
    %h4 Technologies Used
    %p Ember JS, JavaScript, HTML5, SASS, CSS3, CSS Animations, Responsive Design, Grunt, Bower, Heroku.
    %h4 Skills Used
    %p Primarily: Front-end Development, Browser Testing, Accessibility Testing, Quality Assurance.
    %p Pattern Library Creation, User Testing / Interviews, UX Designing / Sketching.