---
title: Kandoolu Quiz App | Lindsay Silver
---
.work
  %h2 Kandoolu PA State Standards Quiz App
  .image-container
    %img{:src => "/assets/images/ohs-mobile.png", :alt => "Kandoolu mobile phone", :class=>'phone'}/
    %img{:src => "/assets/images/ohs-browser.png", :alt => "Kandoolu browser window", :class=>'browser'}/
    %img{:src => "/assets/images/ohs-tablet.png", :alt => "Kandoolu tablet", :class=>'tablet'}/
  .project-header
    %h3 About the  Project
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero cumque, facilis praesentium tenetur dolores assumenda labore amet quaerat asperiores, esse quis porro officia. Ratione tenetur veniam neque voluptatem maxime in?
    %a{:href => "http://ohs-views.herokuapp.com/"}See the protype here.
  .other-details
    %h4 Technologies Used
    %p Ember JS, JavaScript, HTML5, SASS, CSS3, CSS Animations, Responsive Design, Grunt, Bower, Heroku.
    %h4 Skills Used
    %p Primarily: Front-end Development, Browser Testing, Accessibility Testing, Quality Assurance.
    %p Pattern Library Creation, User Testing / Interviews, UX Designing / Sketching.