---
title: Quakers &amp; Mental Health | Lindsay Silver
---
.quakers
  .work
    %h2 Quakers &amp; Mental Health Site
    .image-container
      %img{:src => "/assets/images/qmh-browser.png", :alt => "Accessibility Guidelines browser window", :class=>'browser'}/
      %img{:src => "/assets/images/qmh-tablet.png", :alt => "Accessibility Guidelines tablet", :class=>'tablet'}/
    .project-header
      %h3 About the  Project
      %p I spent the entire summer of 2015 making this website on my own from the ground-up. Using Django as a backend, I created a substantial administration page which will allow students and librarians to continue to add to the research and information they discover on Friends Asylum and early Quakers and mental health. You can learn a bit more about the admin page <a href='http://qmh.haverford.edu/contrib/'>here</a>. Additionally, I created the frontend of the site with Foundation5 and also added a few visualizations with D3 pulling data from the PostgreSQL database. Some interesting pages to see are the <a href='http://qmh.haverford.edu/bargraph/'>Patient Bar Graph</a>, <a href='http://qmh.haverford.edu/ptable/'>Patient Table</a>, and <a href='http://qmh.haverford.edu/glossary/'>Glossary of Terms</a>. The goal of this site is to create a digital way for people to learn more about the early years of Friends Asylum and mental health, and spur further research projects--both done in Haverford Special Collections and online.
      Collaborating with all sides of the library.
      %a{:href => "http://qmh.haverford.edu/"}See the live site here.
    .other-details
      %h4 Technologies Used
      %p Django, Python, JavaScript / jQuery, HTML5, CSS3, Foundation5, Responsive Design, D3, PostgreSQL.
      %h4 Skills Used
      %p Research, Data Creation, Data Cleaning, Database Set Up, Design, Front-end Development, Data Visualization Creation, Browser Testing, Quality Assurance.