---
title: Quakers &amp; Mental Health | Lindsay Silver
---
.quakers
  .work
    %h2 Quakers &amp; Mental Health Site
    .image-container
      %img{:src => "/assets/images/qmh-browser.png", :alt => "Quakers and mental health website browser window", :class=>'browser'}/
      %img{:src => "/assets/images/qmh-tablet.png", :alt => "Quakers and mental health website on a tablet", :class=>'tablet'}/
    .project-header
      %h3 About the  Project
      %p I spent the entire summer of 2015 collaborating with all departments at the Haverford College Libraries to build the Quakers &amp; Mental Health website from the ground-up. Using Django as a framework, I created a substantial administration back-end which will allow students and librarians to continue to add to the research and information they discover on Friends Asylum. 
      %p The goal of this site is to create a digital way for people to learn more about the early years of Friends Asylum and Quakers and mental health, and spur further research projects--both done in Haverford Special Collections and online by the public.
      %p Some interesting pages to see are the <a href='http://qmh.haverford.edu/bargraph/'>Patient Bar Graph</a>, <a href='http://qmh.haverford.edu/ptable/'>Patient Table</a>, and the <a href='http://qmh.haverford.edu/glossary/'>Glossary of Terms</a> page. 
      %a{:href => "http://qmh.haverford.edu/"}See the live site here.
    .other-details
      %h4 Technologies Used
      %p Django, Python, JavaScript / jQuery, HTML5, CSS3, Foundation5, Responsive Design, D3, PostgreSQL.
      %h4 Skills Used
      %p Research, Data Creation, Data Cleaning, Database Set Up, Design, Front-end Development, Data Visualization Creation, Browser Testing, Quality Assurance.