---
title: Resume | Lindsay R. Silver 
resume: true;
---
%p.download 
  %a{:href => ""} Download a pdf of my resume here.
.resume-body
  %header
    %h2 Lindsay Silver
    %address
      %p <i class="fa fa-phone" aria-hidden="true"></i> 781.733.3208  
      %p <i class="fa fa-home" aria-hidden="true"></i> 2715 murray ave apt 813, pittsburgh
      %p <i class="fa fa-envelope" aria-hidden="true"></i> lindsaysilver1@gmail.com
      %p <i class="fa fa-laptop" aria-hidden="true"></i> silverli.github.io/lindsaysilver
  %main
    %section
      %h3 Objective
      .other-info
        %p To obtain a web developer position in a company where I can help create functional, beautiful, and accessible websites.
    %section
      %h3 Experience
      .other-info
        .work-experience
          %h4.company Bearded Studio
          %p.dates Nov 2015 - Present
          %p.position Web Developer | Pittsburgh, PA
          %ul
            %li Worked with all sides of a web design team, including content strategists and user research experts,    to help develop the front-end of websites for local non-profits and businesses.
        .work-experience
          %h4.company Digital Scholarship Fellows &amp; Beyond Penn's Treaty Project
          %p.dates Aug 2015 - Nov 2015
          %p.position Digital Scholarship Fellowship Coordinator, Web Developer | Haverford College Libraries
          %ul
            %li Developed a curriculum for the Haverford Digital Scholarship Fellows Program to teach foundations of the web and web development.
            %li Also, built the Django platform for a project focusing on Quaker and Native American relations. Integrated the existing Omeka API with the Django site, and did extensive front-end work.
        .work-experience
          %h4.company Scattergood Project
          %p.dates Jun 2015 - Aug 2015
          %p.position Digital Scholarship Intern | Haverford College Libraries
          %ul
            %li Created the entire website for the Scattergood Collection by identifying data from primary, 19th century materials which could be used in D3 visualizations, coding the database and back-end with Django, and making the front-end of the website with Foundation5.
        .work-experience
          %h4.company San Juan Bosco School
          %p.dates Feb 2014 - May 2014
          %p.position Teacher's Assistant | Seville, Spain
          %ul
            %li Assisted in the teaching of English to 2nd, 3rd, 4th, and 5th grade classes. 
            %li Corrected and graded assignments, answered students’ questions, and taught classes in Spanish.
        .work-experience
          %h4.company Flyer's Boat Rental
          %p.dates Summers 2011 - 2014
          %p.position Rental and Boat Shop Clerk, Launch Driver, Dock Staff | Provincetown, MA
          %ul
            %li Was given increased responsibility annually. Worked 50-60 hours a week.
            %li Managed boat rental and repair shop businesses. Answered all phone calls and emails, made reservations, managed business cash, and did accounting for rental business. Also, instructed customers on the use of all rental boats.
    %section
      %h3 Skills
      .other-info
        %h4 Technical Skills
        %p Django, Python, Java, Ruby, Git, HTML5, CSS3, SASS, CSS Animations, Greensock JS (GSAP), Middleman, Jekyll, Accessibility WCAG AA Standards, Responsive Design, JavaScript, jQuery, Ember JS, Angular JS, Bower / NPM, Grunt / Gulp, Foundation, Bootstrap, SQLite, PostgreSQL, WordPress
        %h4 Non-technical Skills
        %p Sketch, Photoshop, Browser Testing, Writing, Copy Editing, Proficient in Spanish
    %section
      %h3 Education
      .other-info
        .work-experience
          %h4.company Haverford College
          %p.dates 2011-2015
          %p.position Haverford, PA
          %ul
            %li Graduated <em>Cum Laude</em> in 2015 with a BA in English, and minors in Computer Science and Spanish.
            %li Thesis title: ‘The Ocean’s Indifference: Confronting Death in the Natural Landscape of Thoreau’s Cape Cod.’
    %section
      %h3 Interests
      .other-info
        %p Ultimate Frisbee, Sailing, Girl Develop It Pittsburgh, Traveling, Doodling, Cooking
