---
title: Smart Dental MA | Lindsay Silver
---
.work
  %h2 Smart Dental MA 
  .image-container
    %img{:src => "/assets/images/smartdental-mobile.png", :alt => "Smart dental website on a mobile phone", :class=>'phone'}/
    %img{:src => "/assets/images/smartdental-browser.png", :alt => "Smart dental website in a browser window", :class=>'browser'}/
    %img{:src => "/assets/images/smartdental-tablet.png", :alt => "Smart dental website on a tablet", :class=>'tablet'}/
  .project-header
    %h3 About the  Project
    %p I worked on this website as a favor to a family friend - helping them by creating a basic, static website which would serve their basic needs for a new dental clinic. Together, we determined that the goals of the website were to inform users why Smart Dental is special, and how to easily book an appointment.
    %p I used middleman to build this site, and Formspree as a third-party form submission and management tool.
    %a{:href => "http://smartdentalma.com/"}See the in-progress site here.
  .other-details
    %h4 Technologies Used
    %p JavaScript / jQuery, Middleman, HTML5, SASS, CSS3, CSS Animations, Responsive Design, Grunt / Gulp, Bower / NPM, Static Hosting, FormSpree.
    %h4 Skills Used for Freelance Work
    %p Stakeholder Interview, Design, Front-end Development, Browser Testing, Accessibility Testing, Hosting, UX design.