---
title: Smart Dental MA | Lindsay Silver
---
.work
  %h2 Smart Dental MA 
  .image-container
    %img{:src => "/assets/images/smartdental-mobile.png", :alt => "Accessibility Guidelines mobile phone", :class=>'phone'}/
    %img{:src => "/assets/images/smartdental-browser.png", :alt => "Accessibility Guidelines browser window", :class=>'browser'}/
    %img{:src => "/assets/images/smartdental-tablet.png", :alt => "Accessibility Guidelines tablet", :class=>'tablet'}/
  .project-header
    %h3 About the  Project
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero cumque, facilis praesentium tenetur dolores assumenda labore amet quaerat asperiores, esse quis porro officia. Ratione tenetur veniam neque voluptatem maxime a11y.
    %a{:href => "http://smartdentalma.com/"}See the live site here.
  .other-details
    %h4 Technologies Used
    %p JavaScript / jQuery, Middleman, HTML5, SASS, CSS3, CSS Animations, Responsive Design, Grunt / Gulp, Bower / NPM, Static Hosting, FormSpree.io.
    %h4 Skills Used for Freelance Work
    %p Stakeholder Interview, Design, Front-end Development, Browser Testing, Accessibility Testing, Hosting, UX design.